<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
<link href="../static/fontawesome/css/all.css" rel="stylesheet">
style
    include ../static/websitecss/addproject.css


<title>KUSTOM</title>
</head>
<body>
<div class="container1">
    <h1 align=left><i class="fab fa-android fa-2x"></i>KUSTOMROM<font color="#DCDCDC">.com</font></h1>
    <div class="dropdown"><button class="btn"><i class="fas fa-rss-square"></i> NEWS <i class="fas fa-angle-down"></i></span></button></h1>
        <div class="dropdown1-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown"><button class="btn"><i class="fas fa-mobile-alt"></i> DEVICES <i class="fas fa-angle-down"></i></button>
        <div class="dropdown1-content">
            <table>
                <tr>
                    <td><a href="/samsung">SAMSUNG</a></td>
                    <td><a href="#">HTC</a></td>
                    <td><a href="/xiaomi">Xiaomi</a></td>
                </tr>
                <tr>
                    <td><a href="#">OPPO</a></td>
                    <td><a href="#">VIVO</a></td>
                    <td><a href="/oneplus">ONE_PLUS</a></td>
                </tr>
                <tr>
                    <td><a href="#">RAZOR</a></td>
                    <td><a href="/motorola">MOTOROLA</a></td>
                    <td><a href="/google">GOOGLE</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="dropdown"><button class="btn"><i class="fab fa-forumbee"></i> FORUMS <i class="fas fa-angle-down"></i></button>
        <div class="dropdown1-content">
            <a href="#">Link 7</a>
            <a href="#">Link 8</a>
            <a href="#">Link 9</a>
        </div>
    </div>
    <div class="dropdown"><button class="btn"><i class="fas fa-coffee"></i> BEST POSTS <i class="fas fa-angle-down"></i></button>
        <div class="dropdown1-content">
            <a href="#">Link 10</a>
            <a href="#">Link 11</a>
            <a href="#">Link 12s</a>
        </div>
    </div>
    <div class="dropdown"><button class="btn"> <i class="fas fa-user-tie"></i> DEVELOPERS</button>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" id="search-txt" placeholder="Type to search">
        <i class="fab fa-searchengin search-btn"></i>
        <div class="search-result-box">
            <span style="color:thistle;padding:15px;margin: 10px 0px;">Search Results</span>
            <hr style="background-color:thistle;margin-top:5px;width:90%;">
            <ul id="allSearchResults">
            //-all search results here
            </ul>
        </div>
    </div>
</div>

<div class="main-section">
<hr style="background-color:#0AC5A8;height:10px;">
    <div class="left-section">
        <ul>
            <li><a href="/dashboard"><i class="fas fa-book-open"></i> Profile</a></li>
            <li><a href="#"><i class="fas fa-id-card-alt"></i> Contact-Info || <i class="fas fa-link"></i>Source Links</a></li>
            <li><a href="/projects"><i class="fas fa-cube"></i> Projects</a></li>
            <li><a href="/projects"><i class="fas fa-chart-pie"></i> Statistics</a></li>
            <li><a href="/projects"><i class="fas fa-scroll"></i> Announcements</a></li>
        </ul>
    </div>
    <div class="right-section">

        <div class="progress-bars">
            <div class="step">
                <p>Add Template</p>
                <div class="bullet">
                    <span>1</span>
                </div>
                <div class="check fas fa-check-circle"></div>
            </div>
            <div class="step">
                <p>Add Page</p>
                <div class="bullet">
                    <span>2</span>
                </div>
                <div class="check fas fa-check-circle"></div>
            </div>
        </div>
        <form action="/addtemplate" enctype="multipart/form-data" method="POST"> 
        <fieldset class="page-fieldset">
            <legend class="page-legend"><strong>Add Template</strong></legend>
            <div class="template">
                <label for="romname">Rom Name:</label>
                <input type="textarea" name="romname" id="romname" placeholder="project name..">
                <label for="androidversion">Android Version:</label>
                <input type="textarea" name="androidversion" id="androidversion" placeholder="version.."><br>
                <label for="romversion">Rom Version:</label>
                <input type="textarea" name="romversion" id="romversion" placeholder="version.."><br>
                <label for="picture">Template Picture: </label>
                <input type="file" name="myFile" /><br>
                <input type="hidden" name="username" id="username"/>
                <input type="hidden" name="joiningdate" id="joiningdate"/>
                <input type="hidden" name="userimage" id="userimage"/>
                script.
                    var username=document.getElementById("username");
                    username.value="#{user.username}";
                    var date=document.getElementById("joiningdate");
                    date.value="#{user.date}";
                    var image=document.getElementById("userimage");
                    image.value="#{user.filename}";
                <label for="romversion">Device:</label>
                <input type="textarea" name="device" id="fordevice" placeholder="device name.."><br>
                <label for="romtype" >Rom-Type: </label>
                <select name="romtype" id="romtype" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="aosp">AOSP</option>
                    <option value="port">PORT</option>
                </select><br>
                <label for="updatetype" >Update-Type: </label>
                <select name="updatetype" id="updatetype" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="official">OFFICIAL</option>
                    <option value="unofficial">UNOFFICIAL</option>
                </select><br>

                <p style="color:#aaa;font-size:smaller;display:inline-block;">Note*: The file dimensions should be 300x200 pixels.</p>
                <button type="button" class="next">Next</button>

            </div>
        </fieldset>
        <fieldset class="page2-fieldset">
            <legend class="page2-legend"><strong>Add Page</strong></legend>
            <div class="template">
                <label for="picture">1. Rom Picture: </label>
                <input type="file" name="file1" /><br>
                <label for="picture">2. About Picture: </label>
                <input type="file" name="file2" /><br>
                <label for="about">3. About Content:</label><br>
                <textarea name="aboutContent" class="content" placeholder="About your project.."></textarea><br>
                <label for="picture">4. Feature Picture: </label>
                <input type="file" name="file3" /><br>
                <label for="feature">5. Feature Content:</label><br>
                <textarea name="featureContent" class="content" placeholder="Features/Changelogs here.."></textarea><br>
                <label for="picture">6. Screenshots (6 required): </label><br>
                    <ul>
                        <li><input type="file" name="file4" multiple/></li><br>
                    </ul>
                <label for="picture">7. Links Picture: </label>
                <input type="file" name="file5" /><br>
                    <ul>
                        <li><label for="rom">ROM:</label>
                        <input type="textarea" name="romlink" class="links" placeholder="ROM link"><br></li>
                        <li><label for="recovery">Recovery:</label>
                        <input type="textarea" name="recoverylink" class="links" placeholder="recovery link"><br></li>
                        <li><label for="gapps">GApps:</label>
                        <input type="textarea" name="gappslink" class="links" placeholder="gapps link"><br></li>
                        <li><label for="magisk">Magisk:</label>
                        <input type="textarea" name="magisklink" class="links" placeholder="magisk link"><br></li>
                        <li><label for="telegram">Telegram Support Group:</label>
                        <input type="textarea" name="telegramlink" class="links" placeholder="telegram link"><br></li>
                        <li><label for="telegramchannel">Telegram Announcements Channel:</label>
                        <input type="textarea" name="telegramChannel" class="links" placeholder="telegram channel link"><br></li>
                    </ul>
                <label for="picture">8. Installation Picture: </label>
                <input type="file" name="file6" /><br>
                <label for="steps">9. Installation Guide: </label><br>
                    <ul>
                        <li><label for="steps">Step1: </label><br>
                        <textarea name="step1" class="steps" placeholder="step1"></textarea></li><br>
                        <li><label for="steps">Step2: </label><br>
                        <textarea name="step2" class="steps" placeholder="step2"></textarea></li><br>
                        <li><label for="steps">Step3: </label><br>
                        <textarea name="step3" class="steps" placeholder="step3"></textarea></li><br>
                        <li><label for="steps">Step4: </label><br>
                        <textarea name="step4" class="steps" placeholder="step4"></textarea></li><br>
                    </ul>
                <label for="picture">10. Team Picture: </label>
                <input type="file" name="file7" /><br>
                <label for="picture">11. Team content: </label>
                    <ul>
                        <li><label for="name"> Founder and Lead Developer: </label>
                        <input type="textarea" name="leadDeveloper" class="naming" placeholder="enter name here"></li><br>
                        <li><label for="name"> Support team: </label>
                        <input type="textarea" name="supportTeam" class="naming" placeholder="enter name here"></li><br>
                    </ul>
                <label for="picture">12. Source Picture: </label>
                <input type="file" name="file8" /><br>
                <label for="picture">13. Source Content: </label>
                    <ul>
                        <li><label for="sourceLink">Source Link 1: </label>
                        <input type="textarea" name="sourceLink1" class="links" placeholder="link1"></li><br>
                        <li><label for="sourceLink">Source Link 2: </label>
                        <input type="textarea" name="sourceLink2" class="links" placeholder="link1"></li><br>
                    </ul>
                <label for="payment">14. Payment Links: </label>
                    <ul>
                        <li><label for="paypal">Paypal Link: </label>
                        <input type="textarea" name="paypalLink" class="links" placeholder="link here"></li><br>
                        <li><label for="upi">UPI Link: </label>
                        <input type="textarea" name="upiLink" class="links" placeholder="link here"></li><br>
                        <li><label for="paypal">Maintainer Paypal Link: </label>
                        <input type="textarea" name="maintainerPaypal" class="links" placeholder="link here"></li><br>
                        <li><label for="upi">Maintainer UPI: </label>
                        <input type="textarea" name="maintainerUpi" class="links" placeholder="link here"></li><br>
                    </ul>
            </div>
            <button type="button" class="prev">Prev</button>
            <button type="submit" class="addprojectbtn">Add template</button>

        </fieldset>
        </form>

    </div>

<div class="side-bar">
    <h2><button class="options"><i class="fas fa-bars"></i></button>
    <button class="search"><i class="fas fa-search"></i></button>
    <button onclick="document.getElementById('user-popup-wrapper').style.display='block'" class="user"><i class="fas fa-user-circle"></i></button></h2>
    <div class="social-links">
        <a href="www.facebook.com"><img src="./static/logo/fb.png"></a>
        <a href="www.instagram.com"><img src="./static/logo/insta.png"></a>
        <a href="www.twitter.com"><img src="./static/logo/twitter.png"></a>
    </div>
    <div class="useful-links">
        <a href="#"><img src="./static/logo/share.png"></a>
        <a href="#"><img src="./static/logo/info.png"></a>
    </div>
</div>

    <div id="user-popup-wrapper" class="user-popup">
    <button onclick="document.getElementById('user-popup-wrapper').style.display='none';" class="close"><i class="fas fa-times-circle"></i></button>
    if(isAuthenticated)  
        if user.usertype == 'local'    
            <div class="user-popup-content">
            <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
            <div class="usernaming">
            <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
            </div>
            <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
            <a href="#" class="settings"><i class="fas fa-cogs"></i></i> Settings</a>
            </div>
        else if user.usertype == 'developer'
            <div class="user-popup-content">
            <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
            <div class="usernaming">
            <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
            </div>
            <p style="margin-top:0;color:white;font-size:1rem;">User-Type: #{ user.usertype }</p>
            <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
            <a href="#" class="settings"><i class="fas fa-cogs"></i> Settings</a><br>

            </div>
    else
        <div class="user-popup-content">
        <p style="font-size:3rem;font-family:acme-regular;color:#0AC5A8;">LOGIN</p>
        div.col-10.ml-sm-auto.px-4
        if error != 0
            div.alert.alert-danger.alert-dismissible.fade.show #{ error }
        if typeof errors != 'undefined'
            for error in errors
                div.alert.alert-danger.alert-dismissible.fade.show #{ error.msg }
        if success_msg != 0
            div.alert.alert-success.alert-dismissible.fade.show #{ success_msg }
        if error_msg != 0
            div.alert.alert-danger.alert-dismissible.fade.show #{ error_msg }
        <form action="/login" method='POST'>
        <div class="login-data">
            <input type="email" id="email" name="email" class="email" placeholder="Your @email ">
            <input type="password" id="password" name="password" placeholder="password">
            <p align="right"><a href="#" class="forgotpassword">forgot password?</a></p>
            <a href="/login" ><button type="submit" name="login" class="login">LOGIN</button></a>
            <a href="/registration" class="register">Register</a><span style="color:#DCDCDC;"> or </span><a href="#" class="loginwithgoogle">Login with google</a>
        </div>
        </form>
        </div>
</div>
</div>

script.
    const resultList = document.getElementById('allSearchResults');
    const searchBar = document.getElementById('search-txt');
    let tags=[];
    searchBar.addEventListener('keyup',(e)=>{
        document.querySelector('.search-result-box').style.display='block';
        //console.log(e);
        const searchString = e.target.value.toLowerCase();
        const filteredTags = tags.filter(key=>{
            return(
                key.heading.toLowerCase().includes(searchString) || 
                key.description.toLowerCase().includes(searchString)
            );
        });
        //console.log(filteredTags);
        displayTags(filteredTags);
    });
    fetchTags();
        function fetchTags(){
            fetch('/api/searchTags')
                .then(res => res.json())
                .then(result => {
                    tags=result;
                })
        }
    function displayTags(tags){
        //console.log(searchBar.value.length)
        if(tags.length==0){
            const htmlString=  `
                <li class="searchresults">
                    <span style="color:thistle;">No Results</span>
                </li>
                `;
            resultList.innerHTML=htmlString;
        }
        else if(searchBar.value.length==0){
            document.querySelector('.search-result-box').style.display='none';
        }
        else{
            const htmlString= tags
            .map((data)=>{
                return `
                    <li class="searchresults">
                        <a class="result-heading" href=${data.link}>${data.heading}[${data.date}]</a>
                        <a class="result-description" href=${data.link}>${data.description}</a>
                    </li>
                `;
            })
            resultList.innerHTML=htmlString;
        }
    }
    const next = document.querySelector('.next');
    const prev = document.querySelector('.prev');
    const page1 = document.querySelector('.page-fieldset');
    const page2 = document.querySelector('.page2-fieldset');
    const progressText = document.querySelectorAll('.step p');
    const progressCheck = document.querySelectorAll('.step .check');
    const bullet = document.querySelectorAll('.step .bullet');
    let max= 2;
    let current =1;

    next.addEventListener('click',()=>{
        page2.style.display="block";
        page1.style.display="none";
        bullet[current - 1].classList.add('active');
        progressText[current - 1].classList.add('active');
        progressCheck[current - 1].classList.add('active');
        current+=1;
    })
    prev.addEventListener('click',()=>{
        page1.style.display="block";
        page2.style.display="none";
        bullet[current - 2].classList.remove('active');
        progressText[current - 2].classList.remove('active');
        progressCheck[current - 2].classList.remove('active');
        current-=1;
    })


</body>
</html>