<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
<link href="../static/fontawesome/css/all.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
style
  include ../static/websitecss/rom-page.css
  //-include ../static/websitecss/universal.css


<title>KUSTOM</title>
</head>
<body>
  <div class="loader-container">
    //-<i class="fa fa-bolt loader4" aria-hidden="true"></i>
    <i class="fab fa-android loader"></i>
    <i class="fas fa-cog loader2"></i>
    <i class="fas fa-cog loader3"></i>
  </div>
  <div class="container1">
    <div class="banner">
      <button onclick="document.getElementById('user-popup-wrapper-responsive').style.display='block';" class="options-responsive"><i class="fas fa-bars"></i></button>
      <h1 align=left><i class="fab fa-android fa-2x"></i>KUSTOMROM<font color="#DCDCDC">.com</font></h1>
    </div>
    <div class="dropdown"><button class="btn"><i class="fas fa-rss-square"></i> NEWS <i class="fas fa-angle-down"></i></span></button></h1>
      <div class="dropdown1-content">
        <ul class="news">
        </ul>
      </div>
    </div>
    <div class="dropdown"><button class="btn"><i class="fas fa-mobile-alt"></i> DEVICES <i class="fas fa-angle-down"></i></button>
      <div class="dropdown1-content">
        <table>
          <tr>
            <td><a href="/samsung">SAMSUNG</a></td>
            <td><a href="#">HTC</a></td>
            <td><a href="/xiaomi">Xiaomi</a></td>
          </tr>
          <tr>
            <td><a href="#">OPPO</a></td>
            <td><a href="#">VIVO</a></td>
            <td><a href="/oneplus">ONE_PLUS</a></td>
          </tr>
          <tr>
            <td><a href="#">RAZOR</a></td>
            <td><a href="/motorola">MOTOROLA</a></td>
            <td><a href="/google">GOOGLE</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="dropdown"><button class="btn"><i class="fab fa-forumbee"></i> FORUMS <i class="fas fa-angle-down"></i></button>
      <div class="dropdown1-content">
        <a href="#">Link 7</a>
        <a href="#">Link 8</a>
        <a href="#">Link 9</a>
      </div>
    </div>
    <div class="dropdown"><button class="btn bestposts"><i class="fas fa-coffee"></i> BEST POSTS <i class="fas fa-angle-down"></i></button>
      <div class="dropdown1-content">
        <a href="#">Link 10</a>
        <a href="#">Link 11</a>
        <a href="#">Link 12s</a>
      </div>
    </div>
    <div class="dropdown"><button class="btn"> <i class="fas fa-user-tie"></i> DEVELOPERS</button>
    </div>
    <div class="search-box">
      <input type="text" class="search-txt" id="search-txt" placeholder="Type to search">
      <i class="fab fa-searchengin search-btn"></i>
      <div class="search-result-box">
        <span style="color:thistle;padding:15px;margin: 10px 0px;">Search Results</span>
        <hr style="background-color:thistle;margin-top:5px;width:90%;">
        <ul id="allSearchResults">
          //-all search results here
        </ul>
      </div>
    </div>
  </div>



  <div class="content clearfix">
    <div class="main-content">
      <div class="page-content">
        <div class="rom-name">
          <p class="rom-heading">Havoc OS v3.8 [OFFICIAL][10][4.9][YSL]</p>
        </div>
        <div class="dev-name">
          <p class="dev">By <a style="text-decoration:none; color: #0AC5A8;border:none;outline:none;background:transparent;" href="/getprofile?userprofile=niraj">niraj</a> ,Updated page on 19-8-2020</p>
        </div>
        <div class="rom-image">
          <img src="./static/rom-logo/havoc.png">
        </div>
        <div class="rom-about">
          <p class="heading">About</p>
          <p style="text-align:center;color:white;"> Havoc-OS 3.x is based on AOSP, inspired by Google Pixel.<br>Has a refined Material Design 2 UI crafted by @SKULSHADY.<br>Many useful features that will blow your mind.<br>All you can dream of and all you'll ever need.<br>Just flash and enjoy..</p>
        </div>

        <div class="rom-features">
          <p class="heading">Features</p>
          <div class="features-container">
            <p><iframe src="./static/features.txt" style="background-color:white;width:50%;height:300px;"  frameborder=1 ></iframe></p>
          </div>
        </div>

        <div class="rom-screenshots">
          <p class="heading">Screenshots</p>
          <div class="screenshots">
            <div class="screenshots-small-img">
              <img src="./static/havoc/screenshot1.jpg" onclick="openModal();currentSlide(1)">
              <img src="./static/havoc/screenshot2.jpg" onclick="openModal();currentSlide(2)">
              <img src="./static/havoc/screenshot3.jpg" onclick="openModal();currentSlide(3)">
              <img src="./static/havoc/screenshot4.jpg" onclick="openModal();currentSlide(4)">
              <img src="./static/havoc/screenshot5.jpg" onclick="openModal();currentSlide(5)">
              <img src="./static/havoc/screenshot6.jpg" onclick="openModal();currentSlide(6)">
            </div>
          </div>

          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close cursor" onclick="closeModal()">&times;</span>
              <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="./static/havoc/screenshot1.jpg" style="width:100%;height:100%;">
              </div>

            <div class="mySlides">
              <div class="numbertext">2 / 6</div>
              <img src="./static/havoc/screenshot2.jpg" style="width:100%;height:100%;">
            </div>

            <div class="mySlides">
              <div class="numbertext">3 / 6</div>
              <img src="./static/havoc/screenshot3.jpg" style="width:100%;height:100%;">
            </div>

            <div class="mySlides">
              <div class="numbertext">4 / 6</div>
              <img src="./static/havoc/screenshot4.jpg" style="width:100%;height:100%;">
            </div>

            <div class="mySlides">
              <div class="numbertext">5 / 6</div>
              <img src="./static/havoc/screenshot5.jpg" style="width:100%;height:100%;">
            </div>

            <div class="mySlides">
              <div class="numbertext">6 / 6</div>
              <img src="./static/havoc/screenshot6.jpg" style="width:100%;height:100%;">
            </div>

            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
        </div>
    </div>
      <a class="more-images" href="#">For More <i class="far fa-hand-point-right"></i></a>
    <div class="rom-links">
      <p class="heading">Links</p>
      <p style="text-align:left;color:white;margin-left:150px;font-size:18px;">ROM: <a class="page-links"href="https://sourceforge.net/projects/havoc-os/files/YSL">https://sourceforge.net/projects/havoc-os/files/YSL</a>
      <br>Recovery:<a class="page-links"href="https://twrp.me">https://twrp.me </a>
      <br>Open GApps:<a class="page-links"href="http://opengapps.org">http://opengapps.org</a>
      <br>Magisk:<a class="page-links"href="https://forum.xda-developers.com/app...mless-t3473445">https://forum.xda-developers.com/app...mless-t3473445</a>
      <br>Telegram Support Group:<a class="page-links"href="https://t.me/Havoc_OS">https://t.me/havocofficial</a>
      <br>Telegram Announcements Channel:<a class="page-links"href="">https://t.me/Havoc_OS</a>
      <br>Discord Server:<a class="page-links"href="https://discord.gg/YfhBCj4">https://discord.gg/YfhBCj4</a></p>
    </div>

    <div class="installation">
      <p class="heading">Installation</p>
      <p style="text-align:left;color:white;margin-left:150px;font-size:16px;">
      <br>1. Download the ROM, GApps (Optional), Magisk (Optional) from the links above.
      <br>2. Wipe System, Vendor, Data, Dalvik, Cache.
      <br>3. Flash the ROM, GApps (Optional), Magisk (Optional).
      <br>4. Reboot and Enjoy.</p>
    </div>

    <div class="team">
      <p class="heading">Team</p>
      <p style="text-align:left;color:white;margin-left:150px;font-size:16px;">Founder and Lead Developer:
      <br><a style="color:#0AC5A8;text-decoration:none;" href="#">Anushek Prasal</a></p>
      <p style="text-align:left;color:white;margin-left:150px;font-size:16px;">Support team:
      <br><a style="color:#0AC5A8;text-decoration:none;" href="#">Niraj Sharma</a></p>
    </div>

    <div class="credits">
      <p class="heading">Credits</p>
      <ul class="credits-list">
        <li>LineageOS <a class="page-links" href="(https://github.com/LineageOS)">(https://github.com/LineageOS)</a></li>
        <li>Crdroid <a class="page-links" href="(https://github.com/crdroidandroid)">(https://github.com/crdroidandroid)</a></li>
        <li>Pixel Experience <a class="page-links" href="(https://github.com/PixelExperience)">(https://github.com/PixelExperience)</a></li>
        <li>Nitrogen Project <a class="page-links" href="(https://github.com/nitrogen-project)">(https://github.com/nitrogen-project)</a></li>
        <li>Omnirom <a class="page-links" href="(https://github.com/omnirom)">(https://github.com/omnirom)</a></li>
        <li>And all the other Developers, Testers, Donators and Users.</li>
      </ul>
    </div>

    <div class="source">
      <p class="heading">Source</p>
      <a style="margin-left:150px;" class="page-links" href="https://github.com/Havoc-OS">https://github.com/Havoc-OS</a><br>
      <a style="margin-left:150px;" class="page-links" href="https://github.com/Havoc-Devices">https://github.com/Havoc-Devices</a>
    </div>

    <form method="POST" action="/star-rating">
      <fieldset class="star-fieldset" >
        <legend class="star-legend" ><strong>Rate my work!😄</strong></legend>
        <div class="container">
          <div class="star-widget">
            <input type="radio" onclick="starRating(5)" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" onclick="starRating(4)" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" onclick="starRating(3)" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" onclick="starRating(2)" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" onclick="starRating(1)" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
              <header></header>
          </div>
        </div>
      </fieldset>
    </form>


    <div class="donate">
      <p style="text-align:left;color:white;font-size:16px;padding:10px 10px;">Keep Supporting us! and If you like our work then please consider donating,for regular updates and new projects!
      <br><br>PayPal: <a class="page-links" href="https://www.paypal.me/ANUSHEK">https://www.paypal.me/NIRAJ</a>
      <br>UPI: niraj@okhdfcbank
      <br><br>Maintainer PayPal: <a class="page-links" href="https://www.paypal.me/mhjn95">https://www.paypal.me/niraj</a>
      <br>Maintainer UPI: niraj@okicici</p>
    </div>


    <div class="comment-box">
      <div class="review">
        <p style="margin:6px; margin-left:20px;"><strong>Reviews</strong></p>
        <hr style="background-color:white;">
      </div>
      <div class="review-box">
        <label style="color:white;margin:2px;">Write your review:</label><br>
        <textarea id="review-textarea" style="width:100%;"></textarea>
        <div style="text-align:right;"><button type="button" id="submitbtn" class="post-comment-button"> Post Comment </button></div>
          <div class="comments-container" >
            <ul class="all_comments">
              //-comments and replies here
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="side-content">
    <h5 class="side-post-title">&nbsp; ysl feed</h5>
    <div class="side-post">
      <a href="#"><img src="./static/postimages/p5.jpg" alt="" class="side-post-image"></a>
      <div class="side-post-preview">
        <h4><a class="sidepostlink" href="#">India bans Xiaomi’s Mi Browser Pro, and QQ International app</a></h4> 
        <p class="side-preview-text">
        The Government of India recently had banned and blocked access to 59 apps with Chinese connections like TikTok, Xiaomi’s Mi Community, Mi Video Call, Xender, Shareit, Cam Scanner and even...
        </p>
      </div>
    </div>
    <div class="side-post">
      <a href="#"><img src="./static/postimages/p9.jpg" alt="" class="side-post-image"></a>
      <div class="side-post-preview">
        <h4><a class="sidepostlink" href="#">Motorola One Fusion+ Review – A harmonious blend of the right mid-range features.</a></h4> 
        <p class="side-preview-text">For the last couple of years, Motorola has given its undivided attention to its portfolio of budget and mid-range smartphones. With a shift away from its flagship Moto Z line,…</p>
      </div>
    </div>
    <div class="side-post">
      <a href="#"><img src="./static/postimages/p10.jpg" alt="" class="side-post-image"></a>
      <div class="side-post-preview">
        <h4><a class="sidepostlink" href="#">OnePlus Nord Review: Great Performance at a Great Price</a></h4> 
        <p class="side-preview-text">Every OnePlus smartphone since the 2014 OnePlus One has featured a flagship Qualcomm Snapdragon 800 series chipset. The use of Qualcomm's latest silicon has been integral to OnePlus' marketing, as…</p>
      </div>
    </div>
  </div>


  <div class="options-container">
    <button onclick="document.querySelector('.options-container').style.display='none';" class="close"><i class="fas fa-times-circle"></i></button>
    <div class="options-links">
      <div class="social-box-2">
        <span style="color:thistle;font-size:small;">RESOURCES</span>
          <a class="options-here" href="#">Contact Us</a>
          <a class="options-here" href="#">About Us</a>
          <a style="font-weight:1000;" class="options-here" href="#">Tip Us</a>
      </div>
      <div class="social-box-2">
        <span style="color:thistle;font-size:small;">SOCIAL</span>
        <div class="icons">
          <a href="#" class="social-icons"><i class="fab fa-facebook-square"></i></a>
          <a href="#" class="social-icons"><i class="fab fa-telegram"></i></a>
          <a href="#" class="social-icons"><i class="fab fa-twitter-square"></i></a>
          <a href="#" class="social-icons"><i class="fas fa-share-alt-square"></i></a>
        </div>
      </div>
    </div>
  </div>



  <div class="side-bar">
    <h2><button onclick="options();" class="options"><i class="fas fa-bars"></i></button>
    <button onclick="document.getElementById('user-popup-wrapper').style.display='block'" class="user"><i class="fas fa-user-circle"></i></button></h2>
    <div class="social-links">
      <a href="www.facebook.com"><img src="./static/logo/fb.png"></a>
      <a href="www.instagram.com"><img src="./static/logo/insta.png"></a>
      <a href="www.twitter.com"><img src="./static/logo/twitter.png"></a>
    </div>
    <div class="useful-links">
      <a href="#"><img src="./static/logo/share.png"></a>
      <a href="#"><img src="./static/logo/info.png"></a>
    </div>
  </div>


  <div id="user-popup-wrapper-responsive" class="user-popup-responsive">
    <button onclick="document.getElementById('user-popup-wrapper-responsive').style.display='none';" class="close"><i class="fas fa-times-circle"></i></button>
    if(isAuthenticated)  
      if user.usertype == 'local'    
        <div class="user-popup-content">
          <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
          <div class="usernaming">
            <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
          </div>
          <a href="/accountdetails" class="user-options"> Account details</a>
          <a href="/usersecurity" class="user-options"> Password and Security</a>
          <a href="#" class="user-options"><i class="fas fa-cogs"></i> Settings</a>
          <a href="/logout" class="user-options"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
        </div>
      else if user.usertype == 'developer'
        <div class="user-popup-content">
          <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
          <div class="usernaming">
            <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
          </div>
          <p style="margin-top:0;color:white;font-size:1rem;">User-Type: #{ user.usertype }</p>
          <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
          <a href="#" class="settings"><i class="fas fa-cogs"></i> Settings</a><br>
          <a href="/dashboard" class="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </div>
    else
      <div class="user-popup-content">

        div.col-10.ml-sm-auto.px-4
          if error != 0
            div.alert.alert-danger.alert-dismissible.fade.show #{ error }
          if typeof errors != 'undefined'
            for error in errors
              div.alert.alert-danger.alert-dismissible.fade.show #{ error.msg }
          if success_msg != 0
            div.alert.alert-success.alert-dismissible.fade.show #{ success_msg }
          if error_msg != 0
            div.alert.alert-danger.alert-dismissible.fade.show #{ error_msg }
        <form action="/login" method='POST'>
          <div class="login-data">
            <span style="color:thistle;font-size:large;"><i class="far fa-user"></i> Hello!, Sign in</span>
            <input type="email" id="email" name="email" class="email" placeholder="Your @email ">
            <input type="password" id="password" name="password" placeholder="password">
            <p align="right"><a href="#" class="forgotpassword">forgot password?</a></p>
            <a href="/login" ><button type="submit" name="login" class="login">LOGIN</button></a>
            <a href="/registration" class="register">Register</a><span style="color:#DCDCDC;"> or </span><a href="#" class="loginwithgoogle">Login with google</a>
          </div>
        </form>
      </div>
    <div class="social-box">
    <span style="color:thistle;font-size:small;">RESOURCES</span>
      <ul>
        <li><a>Contact Us</a></li>
        <li><a>About Us</a></li>
        <li><a>Tip Us</a></li>
      </ul>
    </div>
    <div class="social-box">
      <span style="color:thistle;font-size:small;">SOCIAL</span>
      <div class="icons">
        <a class="social-icons"><i class="fab fa-facebook-square"></i></a>
        <a class="social-icons"><i class="fab fa-telegram"></i></a>
        <a class="social-icons"><i class="fab fa-twitter-square"></i></a>
        <a class="social-icons"><i class="fas fa-share-alt-square"></i></a>
      </div>
    </div>
  </div>

  <div id="user-popup-wrapper" class="user-popup">
    <button onclick="document.getElementById('user-popup-wrapper').style.display='none';" class="close"><i class="fas fa-times-circle"></i></button>
    if(isAuthenticated)  
      if user.usertype == 'local'    
        <div class="user-popup-content">
        <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
        <div class="usernaming">
          <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
        </div>
          <a href="/accountdetails" class="user-options"> Account details</a>
          <a href="/usersecurity" class="user-options"> Password and Security</a>
          <a href="#" class="user-options"><i class="fas fa-cogs"></i> Settings</a>
          <a href="/logout" class="user-options"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
        </div>
      else if user.usertype == 'developer'
        <div class="user-popup-content">
        <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
        <div class="usernaming">
        <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
        </div>
        <p style="margin-top:0;color:white;font-size:1rem;">User-Type: #{ user.usertype }</p>
        <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
        <a href="#" class="settings"><i class="fas fa-cogs"></i> Settings</a><br>
        <a href="/dashboard" class="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </div>
    else
      <div class="user-popup-content">

      div.col-10.ml-sm-auto.px-4
        if error != 0
          div.alert.alert-danger.alert-dismissible.fade.show #{ error }
        if typeof errors != 'undefined'
          for error in errors
            div.alert.alert-danger.alert-dismissible.fade.show #{ error.msg }
        if success_msg != 0
          div.alert.alert-success.alert-dismissible.fade.show #{ success_msg }
        if error_msg != 0
          div.alert.alert-danger.alert-dismissible.fade.show #{ error_msg }
      <form action="/login" method='POST'>
        <div class="login-data">
          <input type="email" id="email" name="email" class="email" placeholder="Your @email ">
          <input type="password" id="password" name="password" placeholder="password">
          <p align="right"><a href="#" class="forgotpassword">forgot password?</a></p>
          <a href="/login" ><button type="submit" name="login" class="login">LOGIN</button></a>
          <a href="/registration" class="register">Register</a><span style="color:#DCDCDC;"> or </span><a href="#" class="loginwithgoogle">Login with google</a>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1><i class="fab fa-android fa-2x"></i>KUSTOMROM<font color="#DCDCDC">.com</font></h1>
        <p style="color:#DCDCDC;">This is a community where you will find custom rom for your devices. Flash Happiness!!</p>
        <div class="contact">
          <span style="color:#DCDCDC;"><i class="fas fa-phone-square-alt"></i> &nbsp; 933-703-5249</span><br>
          <span style="color:#DCDCDC;"><i class="far fa-paper-plane"></i>&nbsp; thisisniraj2@gmail.com</span>
        </div>
      </div>
      <div class="footer-section links">
        <h6>Quick Links</h6>
        <br>
        <a href="#">Guides</a>
        <a href="#">ROM</a>
        <a href="#">Devices</a>
        <a href="#">News</a>
      </div>
      <div class="footer-section subscribe">
        <h7>Subscribe to KUSTOM</h7>
        <p style="color: #DCDCDC; font-size:1rem; text-align:left;width:90%;">Receive the freshest Android & development news right in your inbox!</p>
        <form action="subscribe.html" method="post">
          <input type="email" name="email" class="contact-input" placeholder="your@email"><br>
          <button style="margin-left:10px;color:#DCDCDC;background-color:#0AC5A8;padding: 4px 4px;border:none;border-radius:5px;"type="submit" class="submit"><i class="fas fa-smile-beam"></i> Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; kustomrom.com | Designed by Niraj Sharma</p>
    </div>
  </div>



  script.
    // Open the Modal
    function openModal() {
    document.getElementById("myModal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
    document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");

    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex-1].style.display = "block";
    }



  if(isAuthenticated)
    //-----------------------------comment box------------------------------------------------------------------
    script.
      let username = "#{ user.username }"
      let usertype = "#{ user.usertype }"
      let filename = "#{ user.filename }"
      var socket = io();
      window.onload = function() {
      const textarea = document.querySelector('#review-textarea')
      const submitbtn = document.querySelector('#submitbtn')
      const comment_box = document.querySelector('.all_comments')
      submitbtn.addEventListener('click',(e) => {
        e.preventDefault()//prevent refresh and hash value on clicking
        let comment= textarea.value 

        if(!comment){
          return
        }
        postComment(comment)
      })


      function postComment(comment){
      //append to dom
      let data ={
        username: username,
        usertype: usertype,
        filename: filename,
        comment: comment
      }
      appendToDom(data)
      textarea.value=''
      //broadcast
      broadcastComment(data)

      //sync with mongodb
      syncWithDb(data)
      }

      function appendToDom(data,count){
      let lTag= document.createElement('li')
      lTag.classList.add("comment")
      //console.log(count)

      if(data.replies){
        var countReplies = data.replies.length;
      }
      else{
        var countReplies = 0;
      }
        let markup = `
          <div class="comments ${data.objectId}">
            <div class="image-container"><div class="user-image"><img style="width:100px;height:100px;border-radius:50%;" src="./static/uploads/${data.filename}"></div></div>
            <div class="user-details">
              <p style="color:white;display:inline;">${data.username}</p>
              <p class=${data.usertype == "developer" ? 'showusertag':'hideusertag'} ><strong>&lt;dev&gt;</strong></p><button onclick="deleteComment('${data.objectId}')" class=${username === data.username ? 'showdelete':'hidedelete'}><i class="fas fa-trash-alt"></i></button>
              <hr style="background-color:#C4C1C1;">
              <div class="user-comments"><p style="color:white;white-space: initial;overflow:hidden;">${data.comment}</p></div>
              <div class="comment-buttons" style="text-align:right;">
                <small class="time"><i class="far fa-clock"></i>${moment(data.time).format('LT')} ${moment(data.date).format('DD/MM/YYYY')}</small>
                <button onclick="replyFormToggle(${count})" class="replybtn" ><i class="fas fa-reply"></i><b><i>reply</i></b></button>
                <button onclick="doLike('${username}','${data.objectId}')" class="like"><i class="fas fa-thumbs-up"></i></button><small style="color:white">${data.likeCount||0}</small>
                <button onclick="doDislike('${username}','${data.objectId}')" class="dislike" ><i class="fas fa-thumbs-down"></i></button><small style="color:white">${data.dislikeCount||0}</small>
              </div>
              <div class="reply-section" id="reply-section-${count}">
                <textarea class="replytextarea" id="reply-textarea-${data.objectId}" ></textarea>
                <button type="button" onclick="callingForReply('${data.objectId}'),afterReply('${data.objectId}',${count})" id="replysubmitbtn" class="post-comment-button">Submit</button>
              </div>
              <div><button onclick="viewRepliesToggle(${count},${countReplies});" id="showreplies-${count}" class=${countReplies == 0 ? 'hidereplies': 'showreplies'}><strong>____View ${countReplies} replies</strong></button></div>
              <div id="replies-${count}" style="display:none;" class="replies">
              <ul class="all_replies" id="all_replies-${data.objectId}">

              </ul>
              </div>


            </div>
      </div>
      `
        lTag.innerHTML = markup
        comment_box.prepend(lTag)

        /*we need to be sure if we have replies or not..
        if not,will show error, 
        so condition is given to solve the problem*/
        if(data.replies){
          let l2Tag= document.createElement('li')
          const reply_box = document.querySelector('#all_replies-'+data.objectId)
          l2Tag.classList.add("reply")
          var index = 0;
          data.replies.forEach(replyData => {
            index+=1;
            //console.log("replyData: ", replyData._id)
            let markup2 = `
            <div class="replies">
              <div class="reply-image-container"><div class="user-image"><img style="width:100px;height:100px;border-radius:50%;" src="./static/uploads/${replyData.filename}"></div></div>
              <div class="reply-user-details">
                <p style="color:white;display:inline;">${replyData.username}</p>
                <p class=${replyData.usertype == "developer" ? 'showusertag':'hideusertag'} ><strong>&lt;dev&gt;</strong></p><button onclick=deleteReply('${replyData._id}','${data.objectId}') class=${username === replyData.username ? 'showdelete':'hidedelete'}><i class="fas fa-trash-alt"></i></button>
                <hr style="background-color:#C4C1C1;">
                <div class="user-comments"><p style="color:white;white-space: initial;overflow:hidden;">${replyData.reply}</p></div>
                <div class="comment-buttons" style="text-align:right;">
                  <small class="time"><i class="far fa-clock"></i>${moment(replyData.time).format('LT')} ${moment(replyData.date).format('DD/MM/YYYY')}</small>
                  <button class="like"><i class="fas fa-thumbs-up"></i></button>&nbsp;
                  <button class="dislike" ><i class="fas fa-thumbs-down"></i></button>
                </div>               
              </div>
            </div>
            `
            l2Tag.innerHTML += markup2
          });
            reply_box.prepend(l2Tag)
        }
      }

      function broadcastComment(data){
        //socket
          socket.emit('comment',data)
      }


      socket.on('comment',(data)=>{
      appendToDom(data)
      })

      //API calls
      function syncWithDb(data){
        const headers = {
          'Content-Type': 'application/json'
        }
        fetch('/api/comments',{method: 'Post',body: JSON.stringify(data), headers})
          .then(response => response.json())
          .then(result => {
          console.log(result)
          })
        }
        fetchComments();
        function fetchComments(){
          fetch('/api/comments')
            .then(res => res.json())
            .then(result => {
              var count = 0;
              result.forEach((comment) => {
                //console.log("length ", comment.Array.length)
                comment.time = comment.createdAt
                comment.objectId = comment._id
                count+=1;
                appendToDom(comment,count)
                //likeDislikeStatus(comment)

              })
            })
        }


      }

      socket.on('reply',(replyData)=>{
        const reply_box = document.querySelector('#all_replies-'+replyData.objectId);
        console.log(replyData.objectId)
        let l2Tag= document.createElement('li')
        l2Tag.classList.add("reply")
          let markup2 = `
          <div class="replies">
            <div class="reply-image-container"><div class="user-image"><img style="width:100px;height:100px;border-radius:50%;" src="./static/uploads/${replyData.filename}"></div></div>
            <div class="reply-user-details">
              <p style="color:white;display:inline;">${replyData.username}</p>
              <p class=${replyData.usertype == "developer" ? 'showusertag':'hideusertag'} ><strong>&lt;dev&gt;</strong></p><button onclick=deleteReply('${replyData._id}','${replyData.objectId}') class=${username === replyData.username ? 'showdelete':'hidedelete'}><i class="fas fa-trash-alt"></i></button>
              <hr style="background-color:#C4C1C1;">
              <div class="user-comments"><p style="color:white;white-space: initial;overflow:hidden;">${replyData.reply}</p></div>
              <div class="comment-buttons" style="text-align:right;">
                <small class="time"><i class="far fa-clock"></i>${moment(replyData.time).format('LT')} ${moment(replyData.date).format('DD/MM/YYYY')}</small>
                <button class="like"><i class="fas fa-thumbs-up"></i></button>&nbsp;
                <button class="dislike" ><i class="fas fa-thumbs-down"></i></button>
              </div>
            </div>
          </div>
          `
          l2Tag.innerHTML += markup2
          reply_box.append(l2Tag)
      })
      function callingForReply(objectId){
        let object = objectId
        var socket = io();
        const replytext = document.querySelector('#reply-textarea-'+object)
        const replysubmitbtn = document.querySelector('#replysubmitbtn')
        const reply_box = document.querySelector('#all_replies-'+object)
        const replyvalues = replytext.value
          if(!replyvalues){
            return
          }
          else{
            //const objectId= object
            const reply= replyvalues
            //console.log('reply button working')
            postReply(reply)
          }
        function postReply(reply){
          let replyData ={
            username: username,
            usertype: usertype,
            filename: filename,
            reply: reply,
            objectId: object
            }

          replytext.value=''
          broadcastReply(replyData)
          //sync with mongodb
          syncWithDb2(replyData)
          //document.location.reload()
        }

        function broadcastReply(replyData){
          //socket
          socket.emit('reply',replyData)
        }
        //API calls
        function syncWithDb2(replyData){
          //console.log("replyData: ", replyData)
          const headers={
            'Content-Type':'application/json'
          }

          fetch('/api/replies',{method: 'Post',body: JSON.stringify(replyData),headers})
            .then(response => response.json())
            .then(result => {
              console.log(result)
            })
        }
      }


      //if User is not authenticated (just show comments)-------------------------------------------------
  else
    script.
      window.onload = function(){
        var socket = io();
        const textarea = document.querySelector('#review-textarea')
        const submitbtn = document.querySelector('#submitbtn')
        const comment_box = document.querySelector('.all_comments')

          submitbtn.addEventListener('click',(e) => {
            e.preventDefault()//prevent refresh and hash value on clicking
            alert('Please, Sign-In to submit your review...');
          })
        function appendToDom(data,count){
        let lTag= document.createElement('li')
        lTag.classList.add("comment")
        if(data.replies){
          var countReplies = data.replies.length;
        }
        else{
          var countReplies = 0;
        }       
          let markup = `
            <div class="comments">
              <div class="image-container"><div class="user-image"><img style="width:100px;height:100px;border-radius:50%;" src="./static/uploads/${data.filename}"></div></div>
              <div class="user-details">
                <p style="color:white;display:inline;">${data.username}</p>
                <p class=${data.usertype == "developer" ? 'showusertag':'hideusertag'} ><strong>&lt;dev&gt;</strong></p>
                <hr style="background-color:#C4C1C1;">
                <div class="user-comments"><p style="color:white;white-space: initial;overflow:hidden;">${data.comment}</p></div>
                <div class="comment-buttons" style="text-align:right;">
                  <small class="time"><i class="far fa-clock"></i>${moment(data.time).format('LT')} ${moment(data.date).format('DD/MM/YYYY')}</small>
                  <button onclick="alert('You need to Sign-In first!')" class="replybtn" ><i class="fas fa-reply"></i><b><i>reply</i></b></button>
                  <button onclick="alert('You need to Sign-In first!')" class="like"><i class="fas fa-thumbs-up"></i></button><small style="color:white">${data.likeCount||0}</small>&nbsp;
                  <button onclick="alert('You need to Sign-In first!')" class="dislike" ><i class="fas fa-thumbs-down"></i></button><small style="color:white">${data.dislikeCount||0}</small>
                </div>
                <div><button onclick="viewRepliesToggle(${count},${countReplies})" id="showreplies-${count}" class=${countReplies == 0 ? 'hidereplies': 'showreplies'}><strong>____View ${countReplies} replies</strong></button></div>
                <div id="replies-${count}" style="display:none;" class="replies">
                <ul class="all_replies">

                </ul>
                </div>
              </div>
            </div>
            `
          lTag.innerHTML = markup
          comment_box.prepend(lTag)

          if(data.replies){
          let l2Tag= document.createElement('li')
          const reply_box = document.querySelector('.all_replies')
          l2Tag.classList.add("reply")
          data.replies.forEach(replyData => {
            //console.log("replyData: ", replyData)
            let markup2 = `
            <div class="replies">
              <div class="reply-image-container"><div class="user-image"><img style="width:100px;height:100px;border-radius:50%;" src="./static/uploads/${replyData.filename}"></div></div>
              <div class="reply-user-details">
                <p style="color:white;display:inline;">${replyData.username}</p>
                <p class=${replyData.usertype == "developer" ? 'showusertag':'hideusertag'} ><strong>&lt;dev&gt;</strong></p><button  class="hidedelete" ><i class="fas fa-trash-alt"></i></button>
                <hr style="background-color:#C4C1C1;">
                <div class="user-comments-${replyData.username}"><p style="color:white;white-space: initial;overflow:hidden;">${replyData.reply}</p></div>
                <div class="comment-buttons" style="text-align:right;">
                  <small class="time"><i class="far fa-clock"></i>${moment(replyData.time).format('LT')} ${moment(replyData.date).format('DD/MM/YYYY')}</small>
                  <button onclick="alert('You need to Sign-In first!')" class="like"><i class="fas fa-thumbs-up"></i></button>&nbsp;
                  <button onclick="alert('You need to Sign-In first!')" class="dislike" ><i class="fas fa-thumbs-down"></i></button>
                </div>               
              </div>
            </div>
            `
            l2Tag.innerHTML += markup2
            });
              reply_box.prepend(l2Tag)
          }
          }

        fetchComments();
        function fetchComments(){
          fetch('/api/comments')
            .then(res => res.json())
            .then(result => {
              var count = 0;
              result.forEach((comment) => {
                comment.time = comment.createdAt
                comment.objectId = comment._id
                count+=1;
                appendToDom(comment,count)
              })
            })
          }
      }


  if(isAuthenticated)
    script.
      function starRating(rating){
        const headers = {
        'Content-Type': 'application/json'
        }
        let username="#{user.username}";
        const data = {rating:rating,projectname:'havocOs',romversion:'3.3',device:'ysl',username:username}
        console.log(username)
        fetch('/api/starRating',{method:'Post',body: JSON.stringify(data),headers})
          .then(response => response.json())
          .then(result => {
            console.log(result)
          })
        //document.location.reload()
      }

  script.
    function deleteComment(objectId){
      const headers = {
        'Content-Type': 'application/json'
      }
      const newData = { ID:objectId }
      fetch('/api/deletecomment',{method:'Post',body: JSON.stringify(newData),headers})
        .then(response => response.json())
        .then(result => {
          console.log(result)
        })
        document.location.reload()
    }
    function deleteReply(replyId,CID){
      //console.log('delete index ='+replyIndex);
      //console.log(`iD ${CID}`);
      const headers = {
        'Content-Type': 'application/json'
      }
      const data = {index:replyId,commentID:CID}
      fetch('/api/deletereply',{method:'Post',body: JSON.stringify(data),headers})
        .then(response => response.json())
        .then(result => {
          console.log(result)
        })
        document.location.reload()
    }
    function replyFormToggle(count){
      var x = document.getElementById("reply-section-"+count);
      if(x.style.display == 'block'){
        x.style.display = 'none';
      }
      else{
        x.style.display = 'block';
      }
    }
    function viewRepliesToggle(count,count2){
      var y = document.getElementById("replies-"+count);
      var z=document.getElementById("showreplies-"+count);
      if(y.style.display == 'none' || z.innerHTML==="<strong>____View replies</strong>"){
        y.style.display = 'block';
        z.innerHTML = "<strong>____Hide replies</strong>";

      }
      else{
        y.style.display ='none';
        z.innerHTML="<strong>____View "+count2+" replies</strong>";
      }
    }

    function afterReply(object,count){
      document.getElementById("replies-"+count).style.display="block";
    }
    function doLike(username,obj){
      const headers = {
        'Content-Type': 'application/json'
      }
      fetch('/api/comments')
        .then(res => res.json())
        .then(result => {
          result.forEach((data)=>{
            if(obj===data._id){
              likecount=data.likeCount;
              dislikecount=data.dislikeCount;
              if(data.likedislike==''){
                likecount+=1;
                console.log(likecount)
                var data = {username:username,obj:obj,status:"liked",likecount}
                fetch('/api/addliker',{method: 'Post',body: JSON.stringify(data),headers})
                  .then(response => response.json())
                  .then(result => {
                    console.log(result)
                })
              }
              else{
                data.likedislike.forEach(likerData => {
                  if(username==likerData.username){
                    if(likerData.status=="liked"){
                      console.log("user liked already,soo we gonna remove him/her from database")
                    }
                    else if(likerData.status=="disliked"){
                      dislikecount-=1;
                      likecount+=1;
                      var data = {username:username,obj:obj,status:"liked",likecount,dislikecount}
                      fetch('/api/changelikerdisliker',{method: 'Post',body: JSON.stringify(data),headers})
                        .then(response => response.json())
                        .then(result => {
                          console.log(result)
                        })
                    }
                  }
                  })
                  check(data.likedislike)
                  if(found==true){
                    return
                  }
                  else if(found==false){
                    likecount+=1;
                    var data = {username:username,obj:obj,status:"liked",likecount}
                    fetch('/api/addliker',{method: 'Post',body: JSON.stringify(data),headers})
                      .then(response => response.json())
                      .then(result => {
                      console.log(result)
                    })
                  }
                  function check(data){
                    found=false;
                    count=0;
                    data.forEach(likerData => {
                      if(likerData.username==username){
                        found=true;
                        count+=1;
                      }
                  });
                  return found,count;
                  }
              }
            }
          })
        })
        document.location.reload();
    }
    function doDislike(username,obj){
      const headers = {
        'Content-Type': 'application/json'
      }
      fetch('/api/comments')
        .then(res => res.json())
        .then(result => {
          result.forEach((data)=>{
            if(obj===data._id){
              likecount=data.likeCount;
              dislikecount=data.dislikeCount;
              if(data.likedislike==''){
                dislikecount+=1;
                console.log(dislikecount)
                var data = {username:username,obj:obj,status:"disliked",dislikecount}
                fetch('/api/adddisliker',{method: 'Post',body: JSON.stringify(data),headers})
                  .then(response => response.json())
                  .then(result => {
                    console.log(result)
                })
              }
              else{
                data.likedislike.forEach(likerData => {
                  if(username==likerData.username){
                    if(likerData.status=="disliked"){
                      console.log("user disliked already,soo we gonna remove him/her from database")
                    }
                    else if(likerData.status=="liked"){
                      dislikecount+=1;
                      likecount-=1;
                      var data = {username:username,obj:obj,status:"disliked",likecount,dislikecount}
                      fetch('/api/changelikerdisliker',{method: 'Post',body: JSON.stringify(data),headers})
                        .then(response => response.json())
                        .then(result => {
                          console.log(result)
                        })
                    }
                  }
                  })
                  check(data.likedislike)
                  if(found==true){
                    return
                  }
                  else if(found==false){
                    dislikecount+=1;
                    var data = {username:username,obj:obj,status:"disliked",dislikecount}
                    fetch('/api/adddisliker',{method: 'Post',body: JSON.stringify(data),headers})
                      .then(response => response.json())
                      .then(result => {
                      console.log(result)
                    })
                  }
                  function check(data){
                    found=false;
                    count=0;
                    data.forEach(likerData => {
                      if(likerData.username==username){
                        found=true;
                        count+=1;
                      }
                  });
                  return found,count;
                  }
              }
            }
          })
        })
        document.location.reload();
    }
    const resultList = document.getElementById('allSearchResults');
    const searchBar = document.getElementById('search-txt');
    let tags=[];
    searchBar.addEventListener('keyup',(e)=>{
      document.querySelector('.search-result-box').style.display='block';
      //console.log(e);
      const searchString = e.target.value.toLowerCase();
      const filteredTags = tags.filter(key=>{
        return(
          key.heading.toLowerCase().includes(searchString) || 
          key.description.toLowerCase().includes(searchString)
        );
      });
      //console.log(filteredTags);
      displayTags(filteredTags);
    });
    fetchTags();
      function fetchTags(){
        fetch('/api/searchTags')
          .then(res => res.json())
          .then(result => {
            tags=result;
          })
      }
    function displayTags(tags){
      //console.log(searchBar.value.length)
      if(tags.length==0){
        const htmlString=  `
          <li class="searchresults">
            <span style="color:thistle;">No Results</span>
          </li>
          `;
        resultList.innerHTML=htmlString;
      }
      else if(searchBar.value.length==0){
        document.querySelector('.search-result-box').style.display='none';
      }
      else{
        const htmlString= tags
        .map((data)=>{
          return `
            <li class="searchresults">
              <a class="result-heading" href=${data.link}>${data.heading}[${data.date}]</a>
              <a class="result-description" href=${data.link}>${data.description}</a>
            </li>
          `;
        })
        resultList.innerHTML=htmlString;
      }
    }
    function options(){
    const option = document.querySelector('.options-container');
    if(option.style.display=='block'){
      option.style.display='none';
    }
    else{
      option.style.display='block';
    }
    }
    setTimeout(()=>{
      const preloader = document.querySelector('.loader-container');
      preloader.style.display='none';
    },3000);


















  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</body>
</html>