<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
<link href="../static/fontawesome/css/all.css" rel="stylesheet">
<script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/decoupled-document/ckeditor.js"></script>
style
    include ../static/websitecss/admin.css


<title>KUSTOM</title>
</head>
<body>
    <div class="container1">
        <h1 align=left><i class="fab fa-android fa-2x"></i>KUSTOMROM<font color="#DCDCDC">.com</font></h1>
        <div class="dropdown"><button class="btn"><i class="fas fa-rss-square"></i> NEWS <i class="fas fa-angle-down"></i></span></button></h1>
            <div class="dropdown1-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown"><button class="btn"><i class="fas fa-mobile-alt"></i> DEVICES <i class="fas fa-angle-down"></i></button>
            <div class="dropdown1-content">
                <table>
                    <tr>
                        <td><a href="/samsung">SAMSUNG</a></td>
                        <td><a href="#">HTC</a></td>
                        <td><a href="/xiaomi">Xiaomi</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">OPPO</a></td>
                        <td><a href="#">VIVO</a></td>
                        <td><a href="/oneplus">ONE_PLUS</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">RAZOR</a></td>
                        <td><a href="/motorola">MOTOROLA</a></td>
                        <td><a href="/google">GOOGLE</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dropdown"><button class="btn"><i class="fab fa-forumbee"></i> FORUMS <i class="fas fa-angle-down"></i></button>
            <div class="dropdown1-content">
                <a href="#">Link 7</a>
                <a href="#">Link 8</a>
                <a href="#">Link 9</a>
            </div>
        </div>
        <div class="dropdown"><button class="btn"><i class="fas fa-coffee"></i> BEST POSTS <i class="fas fa-angle-down"></i></button>
            <div class="dropdown1-content">
                <a href="#">Link 10</a>
                <a href="#">Link 11</a>
                <a href="#">Link 12s</a>
            </div>
        </div>
        <div class="dropdown"><button class="btn"> <i class="fas fa-user-tie"></i> DEVELOPERS</button>
        </div>
        <div class="search-box">
            <input type="text" class="search-txt" id="search-txt" placeholder="Type to search">
            <i class="fab fa-searchengin search-btn"></i>
            <div class="search-result-box">
                <span style="color:thistle;padding:15px;margin: 10px 0px;">Search Results</span>
                <hr style="background-color:thistle;margin-top:5px;width:90%;">
                <ul id="allSearchResults">
                //-all search results here
                </ul>
            </div>
        </div>
    </div>

    <div class="main-section">
        <hr style="background-color:#0AC5A8;height:10px;">
        <div class="left-section">
            <ul>
                <li><a href="/admin"><i class="fas fa-users-cog"></i> Manage Users</a></li>
                <li><a href="/manageAdmin"><i class="fas fa-user-shield"></i> Manage Admins</a></li>
                <li><a href="/manageProjects"><i class="fas fa-cube"></i> Manage Projects</a></li>
                <li><a href="#"><i class="far fa-file"></i> Manage Pages</a></li>
                <li><a href="/manageHomepage"><i class="fas fa-caravan"></i> Homepage</a></li>
                <li><a style="background-color:#078471;border-left: 5px solid #39ff14;"  href="/manageAnnouncements"><i class="fas fa-scroll"></i> Announcements</a></li>
                <li><a href="/manageSearchTags"><i class="fas fa-search-plus"></i> Search Tags</a></li>
            </ul>
        </div>
        <div class="right-section">
            <div class="announcements">
                <div class="make-announcement">
                    <span>Make announcements</span>
                    <hr>
                    div.col-10.ml-sm-auto.px-4
                    if typeof errors != 'undefined'
                        for error in errors
                            div.alert.alert-danger.alert-dismissible.fade.show #{ error.msg }
                    if success_msg != 0
                        div.alert.alert-success.alert-dismissible.fade.show #{ success_msg }
                    if error_msg != 0
                        div.alert.alert-danger.alert-dismissible.fade.show #{ error_msg }
                    <form action="/makeAnnouncement?admin=#{user.username}" method="post">
                        <label for="to">To</label>
                        <input type="textarea" name="to"><br>
                        <label for="heading">Heading</label>
                        <input type="textarea" name="heading" style="width:400px" placeholder="max 10 words">
                        <input type="hidden" name="contentpass" id="content-pass"/><br>
                        <label for="content">Content: </label><br>
                        <div class="document-editor">
                            <div class="document-editor__toolbar"></div>
                            <div class="document-editor__editable-container">
                                <div name="content" class="document-editor__editable">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <button class="submitbtn" type="submit">Submit</button>
                    </form>
                </div>
                <div class="all-announcements">
                    <span>Announcements</span>
                    <hr>
                    <table class="allannouncements">
                        <tr>
                            <th style="color: #0ac5a8;">To</th>
                            <th style="color: #0ac5a8;">By</th>
                            <th style="color: #0ac5a8;">Content</th>
                            <th style="color: #0ac5a8;"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="side-bar">
        <h2><button class="options"><i class="fas fa-bars"></i></button>
        <button onclick="document.getElementById('user-popup-wrapper').style.display='block'" class="user"><i class="fas fa-user-circle"></i></button></h2>
        <div class="social-links">
            <a href="www.facebook.com"><img src="./static/logo/fb.png"></a>
            <a href="www.instagram.com"><img src="./static/logo/insta.png"></a>
            <a href="www.twitter.com"><img src="./static/logo/twitter.png"></a>
        </div>
        <div class="useful-links">
            <a href="#"><img src="./static/logo/share.png"></a>
            <a href="#"><img src="./static/logo/info.png"></a>
        </div>
    </div>

    <div id="user-popup-wrapper" class="user-popup">
    <button onclick="document.getElementById('user-popup-wrapper').style.display='none';" class="close"><i class="fas fa-times-circle"></i></button>
    div.col-10.ml-sm-auto.px-4
        if error != 0
            div.alert.alert-danger.alert-dismissible.fade.show #{ error }
        if typeof errors != 'undefined'
            for error in errors
                div.alert.alert-danger.alert-dismissible.fade.show #{ error.msg }
        if success_msg != 0
            div.alert.alert-success.alert-dismissible.fade.show #{ success_msg }
        if error_msg != 0
            div.alert.alert-danger.alert-dismissible.fade.show #{ error_msg }
    if(isAuthenticated)  
        <div class="user-popup-content">
        <div class="dpcontainer"><img style="width:150px;height:150px;border-radius:50%;" src="./static/uploads/#{user.filename}" ></div>
        <div class="usernaming">
        <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
        </div>
        <p style="margin-top:0;color:white;font-size:1rem;">User-Type: <span style="color:red;">admin</span></p>
        <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
        </div>
</div>
</div>
script.
    window.onload = function(){
        const lists = document.querySelector(".allannouncements");
        function appendList(data){
            trTag=document.createElement('tr');
            let markup=`
                <td>${data.to}</td>
                <td>${data.author}</td>
                <td>${data.content}</td>
                <td><button onclick="deleteProjects('${data._id}')" class="deleteProject"><i class="fas fa-trash-alt"></i></button></td>      
            `;
            trTag.innerHTML+=markup;
            lists.append(trTag);
        }

        fetchUsers();
            function fetchUsers(){
                fetch('/api/getannouncements')
                    .then(res => res.json())
                    .then(result => {
                        for(i=0;i<result.length;i++){
                            appendList(result[i]);
                        }
                    })
            }
    }
    function deleteUser(id){
        const headers={
            'Content-Type':'application/json'
        }
        const data={objectId:id};
        fetch('/api/deleteannouncement',{method: "post", body: JSON.stringify(data),headers})
        .then(response => response.json())
        .then(result => {
            console.log(result)
        })
    }
    DecoupledEditor
    .create( document.querySelector( '.document-editor__editable' ))
    .then( editor => {
        const toolbarContainer = document.querySelector( '.document-editor__toolbar' );
        toolbarContainer.appendChild( editor.ui.view.toolbar.element );
    })
    .catch( err => {
        console.error( err );
    });
    var submit = document.querySelector('.submitbtn');
    var content = document.querySelector('#content-pass');
    submit.addEventListener('click',()=>{
    var x = document.querySelector('.document-editor__editable').innerHTML;
    content.value=JSON.stringify(x);
    console.log(x);
    })

    const resultList = document.getElementById('allSearchResults');
    const searchBar = document.getElementById('search-txt');
    let tags=[];
    searchBar.addEventListener('keyup',(e)=>{
        document.querySelector('.search-result-box').style.display='block';
        //console.log(e);
        const searchString = e.target.value.toLowerCase();
        const filteredTags = tags.filter(key=>{
        return(
            key.heading.toLowerCase().includes(searchString) || 
            key.description.toLowerCase().includes(searchString)
        );
        });
        //console.log(filteredTags);
        displayTags(filteredTags);
    });
    fetchTags();
        function fetchTags(){
        fetch('/api/searchTags')
            .then(res => res.json())
            .then(result => {
            tags=result;
            })
        }
    function displayTags(tags){
        //console.log(searchBar.value.length)
        if(tags.length==0){
        const htmlString=  `
            <li class="searchresults">
                <span style="color:thistle;">No Results</span>
            </li>
            `;
        resultList.innerHTML=htmlString;
        }
        else if(searchBar.value.length==0){
            document.querySelector('.search-result-box').style.display='none';
        }
        else{
        const htmlString= tags
            .map((data)=>{
            return `
                <li class="searchresults">
                    <a class="result-heading" href=${data.link}>${data.heading}[${data.date}]</a>
                    <a class="result-description" href=${data.link}>${data.description}</a>
                </li>
            `;
        })
        resultList.innerHTML=htmlString;
        }
    }


</body>
</html>