<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
<link href="../static/fontawesome/css/all.css" rel="stylesheet">
style
    include ../static/websitecss/phonebrands.css
<script src="myscripts.js"></script>
<title>KUSTOM</title>



</head>
<body>
<div class="container1">
<h1 align=left><i class="fab fa-android fa-2x"></i>KUSTOMROM<font color="#DCDCDC">.com</font></h1><div class="dropdown"><button class="btn"><i class="fas fa-rss-square"></i> NEWS <i class="fas fa-angle-down"></i></span></button></h1>
<div class="dropdown1-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div></div><div class="dropdown"><button class="btn"><i class="fas fa-mobile-alt"></i> DEVICES <i class="fas fa-angle-down"></i></button><div class="dropdown1-content">
<table>
<tr>
  <td><a href="/samsung">SAMSUNG</a></td>
  <td><a href="#">HTC</a></td>
  <td><a href="/xiaomi">Xiaomi</a></td>
  </tr>
  <tr>
  <td><a href="#">OPPO</a></td>
  <td><a href="#">VIVO</a></td>
  <td><a href="/oneplus">ONE_PLUS</a></td>
  </tr>
  <tr>
  <td><a href="#">RAZOR</a></td>
  <td><a href="/motorola">MOTOROLA</a></td>
   <td><a href="/google">GOOGLE</a></td>
   </tr>
  </table>
</div>
</div>
<div class="dropdown"><button class="btn"><i class="fab fa-forumbee"></i> FORUMS <i class="fas fa-angle-down"></i></button><div class="dropdown1-content">
<a href="#">Link 7</a>
<a href="#">Link 8</a>
<a href="#">Link 9</a>
</div>
</div>
<div class="dropdown"><button class="btn"><i class="fas fa-coffee"></i> BEST POSTS <i class="fas fa-angle-down"></i></button>
<div class="dropdown1-content">
<a href="#">Link 10</a>
<a href="#">Link 11</a>
<a href="#">Link 12s</a>
</div>
</div>
<div class="dropdown"><button class="btn"> <i class="fas fa-user-tie"></i> DEVELOPERS</button>
</div>
</div>

 <div class="slider-container">
     <span id="slider-image-1"></span>
     <span id="slider-image-2"></span>
     <span id="slider-image-3"></span>
     <div class="image-container">
     <img src="./static/slider/havoc640x360.jpg" class="slider-image">
     <img src="./static/slider/lineage640x360.jpg" class="slider-image">
     <img src="./static/slider/oxygen640x360.jpg" class="slider-image">
     <img src="./static/slider/evolution640x360.jpg" class="slider-image">
     <img src="./static/slider/corvus640x360.jpg" class="slider-image">
	
     </div>
     <div class="button-container">
     <a href="#slider-image-1" class="slider-button"></a>
     <a href="#slider-image-2" class="slider-button"></a>
     <a href="#slider-image-3" class="slider-button"></a>
     </div>
     </div>

<div class="content clearfix">
 <div class="main-content">
  <div class="post1">
    <a  href="#"><img src="./static/devices/g5s.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="#">Moto G5S(montana) </a></h4>   
    </div>
    </div>
    <div class="post1">
    <a  href="#"><img src="./static/devices/g5plus.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="#">Moto G5 Plus(potter)</a></h4>   
    </div>
    </div>
    <div class="post1">
    <a  href="#"><img src="./static/devices/g5splus.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="#">Moto G5S Plus(sanders)</a></h4>   
    </div>
    </div>
    <div class="post1">
    <a  href="/ysl"><img src="./static/devices/g6plus.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="/ysl">Moto G6 Plus(evert)</a></h4>   
    </div>
    </div> <div class="post1">
    <a  href="#"><img src="./static/devices/g7plus.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="#">Moto G7 Plus(lake)</a></h4>   
    </div>
    </div> <div class="post1">
    <a  href="#"><img src="./static/devices/onepower.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="#">Moto One Power(chef)</a></h4>   
    </div>
    </div>
    <div class="post1">
    <a  href="#"><img src="./static/devices/x4.png" alt="" class="post-image1"></a>
    <div class="post-preview1">
      <h4><a class="postlink" href="#">Moto X4(payton)</a></h4>   
    </div>
    </div> 
 </div>
 
 
 <div class="side-content">
 <h5 class="device-title">Devices</h5>
 <div class="device-list">
 <a href="/samsung">Samsung</a>
 <a href="#">HTC</a>
 <a href="/xiaomi">Xiaomi</a>
 <a href="#">OPPO</a>
 <a href="#">VIVO</a>
 <a href="/oneplus">ONE PLUS</a>
 <a href="/google">Google</a>
 <a href="/motorola">Motorola</a>
 <a href="#">Razor</a>
 </div>
 </div>
 </div>




<div class="side-bar">
<h2><button class="options"><i class="fas fa-bars"></i></button>
    <button class="search"><i class="fas fa-search"></i></button>
    <button onclick="document.getElementById('user-popup-wrapper').style.display='block'" class="user"><i class="fas fa-user-circle"></i></button></h2>
    <div class="social-links">
    <a href="www.facebook.com"><img src="./static/logo/fb.png"></a>
    <a href="www.instagram.com"><img src="./static/logo/insta.png"></a>
    <a href="www.twitter.com"><img src="./static/logo/twitter.png"></a>
    </div>
    <div class="useful-links">
    <a href="#"><img src="./static/logo/share.png"></a>
    <a href="#"><img src="./static/logo/info.png"></a>
    </div>
    </div>
    <div id="user-popup-wrapper" class="user-popup">
    <button onclick="document.getElementById('user-popup-wrapper').style.display='none';" class="close"><i class="fas fa-times-circle"></i></button>
    if(isAuthenticated)  
       if user.usertype == 'local'    
          <div class="user-popup-content">
          <div class="dpcontainer"></div>
          <div class="usernaming">
          <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
          </div>
          <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
          <a href="#" class="settings"><i class="fas fa-cogs"></i></i> Settings</a>
          </div>
       else if user.usertype == 'developer'
          <div class="user-popup-content">
          <div class="dpcontainer"></div>
          <div class="usernaming">
          <p style="margin-top:0;color:white;font-size:1rem;">#{ user.username }</p>
          </div>
          <p style="margin-top:0;color:white;font-size:1rem;">User-Type: #{ user.usertype }</p>
          <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a><br>
          <a href="#" class="settings"><i class="fas fa-cogs"></i> Settings</a><br>
          <a href="/homepage/dashboard" class="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
          </div>
    else
       <div class="user-popup-content">
       <p style="font-size:3rem;font-family:acme-regular;color:#0AC5A8;">LOGIN</p>
       div.col-10.ml-sm-auto.px-4
       if error != 0
          div.alert.alert-danger.alert-dismissible.fade.show #{ error }
       if typeof errors != 'undefined'
         for error in errors
           div.alert.alert-danger.alert-dismissible.fade.show #{ error.msg }
       if success_msg != 0
           div.alert.alert-success.alert-dismissible.fade.show #{ success_msg }
       if error_msg != 0
           div.alert.alert-danger.alert-dismissible.fade.show #{ error_msg }
       <form action="/login" method='POST'>
       <div class="login-data">
        <input type="email" id="email" name="email" class="email" placeholder="Your @email ">
        <input type="password" id="password" name="password" placeholder="password">
        <p align="right"><a href="#" class="forgotpassword">forgot password?</a></p>
        <a href="/login" ><button type="submit" name="login" class="login">LOGIN</button></a>
        <a href="/registration" class="register">Register</a><span style="color:#DCDCDC;"> or </span><a href="#" class="loginwithgoogle">Login with google</a>
       </div>
       </form>
       </div>


</div>
    <div class="footer">
    <div class="footer-content">
    <div class="footer-section about">
    <h1><i class="fab fa-android fa-2x"></i>KUSTOMROM<font color="#DCDCDC">.com</font></h1>
    <p style="color:#DCDCDC;">This is a community where you will find custom rom for your devices. Flash Happiness!!</p>
    <div class="contact">
    <span style="color:#DCDCDC;"><i class="fas fa-phone-square-alt"></i> &nbsp; 933-703-5249</span><br>
    <span style="color:#DCDCDC;"><i class="far fa-paper-plane"></i>&nbsp; thisisniraj2@gmail.com</span>
    </div>
    </div>
    <div class="footer-section links">
    <h6>Quick Links</h6>
    <br>
    <a href="#">Guides</a>
    <a href="#">ROM</a>
    <a href="#">Devices</a>
    <a href="#">News</a>
    </div>
    <div class="footer-section subscribe">
    <h7>Subscribe to KUSTOM</h7>
    <p style="color: #DCDCDC; font-size:1rem; text-align:left;width:90%;">Receive the freshest Android & development news right in your inbox!</p>
    <form action="subscribe.html" method="post">
    <input type="email" name="email" class="contact-input" placeholder="your@email"><br>
    <button style="margin-left:10px;color:#DCDCDC;background-color:#0AC5A8;padding: 4px 4px;border:none;border-radius:5px;"type="submit" class="submit"><i class="fas fa-smile-beam"></i> Subscribe</button>
    </form>
    </div>
    </div>

    <div class="footer-bottom">
    <p>&copy; kustomrom.com | Designed by Niraj Sharma</p>
    </div>
    </div>


</body>
</html>